<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Şərh otağı</title>
</head>
<body>
    <div id="chat-log">
    {% for i in comments %}
        <div>{{ i.comment }}</div>
{#    <textarea id="chat-log" cols="100" rows="20">{{ i.comment }}</textarea><br>#}
    {% endfor %}
    </div>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="submit" value="Send">
    {{ file_name|json_script:"file_name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('file_name').textContent);
        console.log(roomName)
        console.log(window.location.host)
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/'
            + 'file/'
            + roomName
            + '/'
        );
        console.log(chatSocket)
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            theParent = document.getElementById("chat-log");
            theKid = document.createElement("div");
            theKid.innerHTML = data.message;

            theParent.appendChild(theKid);

            theParent.insertBefore(theKid, theParent.childNodes);

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            console.log(message)
            chatSocket.send(JSON.stringify({
                'sender_file': {{ file_name }},
                'comment': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
©